<div ng-app="bpopApp" ng-controller="authController">

  <main-for-auth>
      <!-- <auth-box-left class="animated" ng-class="{fadeInUp: !isFirstVisit}">  not working properly -->
      <auth-box-left class="animated fadeInUp">
        <bpop-auth>
          <logo></logo>


            <div class="flash flash-alert animated shake"><%=flash[:alert]%></div>
            <div class="flash flash-notice" ng-model="flashMessage"><%=flash[:notice]%></div>
            <!-- login/signup form or confirmation page -->
            <div ng-view></div>

        </bpop-auth>
      </auth-box-left>


    <pink-background>
      <auth-box-right class="animated fadeInDown">
        <span id="title-blue">DISCOVER HOW</span>
        <span id="title-green">POPULAR</span>
        <span id="title-pink">you are in the clouds</span>
        <icon id="people"></icon>
        <p>connect to the social newtorks you want the stats from</p>

      <a href="#">
        <connect-social>
          <container-button-social class="connected">
            <button class="fa fa-facebook"></button>
            <profile-thumb-pic>
              <%= image_tag "facebook_profile_pic.jpg" %>
            </profile-thumb-pic>
            <p>logged in as</p>
            <p id="username">MANUEL DI CRISTO</p>
          </container-button-social>

          <container-button-social class="not-connected">
            <button class="fa fa-twitter"></button>
            <profile-thumb-pic class="fa fa-user"></profile-thumb-pic>
            <p>not connected</p>
          </container-button-social>

        </connect-social>
      </a>

        <button><a href="#">SKIP</a></button>
        <a href="#" id="info"><p class="fa">why should I connect my social accounts?<span class="fa-arrow-right"></span></p></a>

        <dots class="fa">
          <a href="#"><span class="fa-circle active"></span></a>
          <a href="#"><span class="fa-circle"></span></a>
          <a href="#"><span class="fa-circle"></span></a>
        </dots>
      </auth-box-right>
    <pink-background>

  </main-for-auth>
  <!-- {{test}} -->
</div>
