<div ng-app="bpopApp" ng-controller="statsController" class="animated fadeIn" id="main-container">

<header>
  <div class="layer-one">
    <div class="logo"></div>
    <div class="email"> <%= current_user.email %></div>
  </div>

  <div class="layer-two">
    <div class="circles-first">
        <div class="fa fa-circle first"></div>
        <div class="fa fa-circle second"></div>
    </div>
    <div class="circles-second">
        <div class="fa fa-circle first"></div>
        <div class="fa fa-circle second"></div>
    </div>
  </div>

  <div class="layer-three">
    <div class="centered-box">
      <div class="carousel-box-left">
        <div class="time-range">
          <div class="range-container"><p class="range">LAST {{range}}'S</p></div>
          <p class="provider">facebook</p>
          <p class="number">151</p>
          <p class="subject">likes</p>
        </div>
      </div>

      <div class="carousel-box-right">

      </div>
    </div>
  </div>
</header>


</div>
