<div class="animated fadeIn" id="main-container">
<while-loading class="animated fadeIn">
  <logo></logo>
  <p>We are processing your data. <br />
    This might take up to 5 minutes if it's the first time you connect to your social.</p>
  <loader><div class="wrapper"><div class="cssload-loader"></div></div></loader>
</while-loading>

<once-loaded>
  <header>
    <div class="layer-one">
      <div class="logo"></div>
    </div>
      <div class="email"> <%= current_user.email %></div>

    <div class="layer-two">
      <div class="circles-first">
          <div class="fa fa-circle first"></div>
          <div class="fa fa-circle second"></div>
      </div>
      <div class="circles-second">
          <div class="fa fa-circle first"></div>
          <div class="fa fa-circle second"></div>
      </div>
    </div>

    <div class="layer-three">
      <div class="centered-box" id="trigger1">
        <div class="carousel-box-left">
          <div class="time-range animated">
              <p class="range"><span id='last'>LAST</span>
                <span>
                  <select id="time-range-select">
                    <option id="one+week+ago" value="WEEK"> WEEK'S</option>
                    <option id="one+month+ago" value="MONTH">MONTH'S</option>
                    <option id="two+month+ago" value="2MONTH">2 MONTHS</option>
                    <option id="three+month+ago" value="3MONTH">3 MONTHS</option>
                    <option id="six+month+ago" value="6MONTH">6 MONTHS</option>
                  </select>
                </span>
              </p>
            </div>
            <p class="provider">facebook</p>
            <p class="number"></p>

            <p class="subject" id="subject">
              <span><select id="select-subject">
                <option value="likes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  likes</option>
                <option value="comments">comments</option>
              </select></span>
            </p>
        </div>

        <div class="carousel-box-right">

        </div>
      </div>
    </div>
  </header>

  <div class="center-this">
    <p>YOUR LAST 6 MONTHS</p>
  </div>

  <div class="center-this">
    <div class="column_charts">
      <div class="six-m-posts">
        <container-span-number>
          <number id="6-m-posts"></number>
          <span>POSTS</span>
        </container-span-number>
        <div id="bar_posts">
        </div>
      </div>

      <div class="six-m-likes">
        <container-span-number>
          <number id="6-m-likes"></number>
          <span>LIKES</span>
        </container-span-number>
        <div id="bar_likes">
        </div>
      </div>

      <div class="six-m-comments">
        <container-span-number>
          <number id="6-m-comments"></number>
          <span>COMMENTS</span>
        </container-span-number>
        <div id="bar_comments">
        </div>
      </div>
    </div>
  </div>

  <div class="center-this" style="margin: 7vw 0 -5vw 0">
    <p>GENDER PERCENTAGE</p>
  </div>

    <blue-box class"center-this">
     <container-percentage>
      <male-percentage>
        <div id="colum-male-gender-percentage">
        </div>
        <span>male</span>
        <number id="gender-percentage-male"></number><symbol>%</symbol>
      </male-percentage>

        <female-percentage>
          <div id="colum-female-gender-percentage">
          </div>
          <span>female</span>
          <number id="gender-percentage-female"></number><symbol>%</symbol>
        </female-percentage>
      </container-percentage>
    </blue-box>


    <div class="center-this" style="margin: 1vw 0 1vw 0">
      <p>FANS</p>
    </div>

    <top-5-fans>
      <title-fan>YOUR <span>TOP</span> FAN</title-fan>
      <top-fan class="animated pulse">
      </top-fan>
      <info>
      </info>

      <top-5>
      </top-5>

    </top-5-fans>

    <green-box>
    </green-box>

    <fans-box style="margin-top:2vw">

      <title-fan><span>FANS</span> GROUP</title-fan>
      <p id="description">put together a group of fans and see the posts that they commonly liked or commented on your facebook page</p>
      <fan-name>...</fan-name>
      <fans-container>

        <group-circle>
          <empty-group-fan-container class="circle-step-one">
            <p class="fa fa-user" id="circle-one"></p>
            <p class="fa fa-plus"></p>
            <p class="fa fa-user" id="circle-two"></p>
          </empty-group-fan-container>

        <div class="fa fa-circle circle-step-two" id="three-b"></div>
        <div class="fa fa-circle circle-step-two" id="two"></div>
        <div class="fa fa-circle circle-step-two" id="one"></div>

          <container-group-fans id="main-circle-fans" class="circle-step-two">

          </container-group-fans>

        <div class="fa fa-circle circle-step-two" id="one"></div>
        <div class="fa fa-circle circle-step-two" id="two"></div>
        <div class="fa fa-circle circle-step-two" id="three"></div>
      </group-circle>

        <arrow class="fa fa-arrow-left"></arrow>

        <fans-super-list class="animated fadeIn">

        </fans-super-list>
      </fans-container>

  </fans-box>


  <head-fan-posts>
    <p>
      total posts: <div class="strong" id="total-posts"> 0 </div>
    </p>
  </head-fan-posts>
  <center-posts class="center-this">

    <display-posts>

    </display-posts>
  </center-posts>

  <footer>
    <footer-logo>

    </footer-logo>
  </footer>
</once-loaded>
</div>
