    #main-container {
      animation-timing-function: linear;
    }

    .scaleUp {
      -ms-transform: scale(1.03, 1.03);
      -webkit-transform: scale(1.03, 1.03);
      transform: scale(1.03, 1.03);
    }

    .center-this {
      display: flex;
      justify-content: center;
      width: 100vw;
    }

    .right-this {
      display: flex;
      justify-content: flex-end;
      width: 100vw;
    }

    .bold        { font-weight: 900 }
    .strong      { font-weight: 700 }
    .medium      { font-weight: 500 }
    .normal      { font-weight: 400 }
    .light       { font-weight: 200 }
    .super-light { font-weight: 100 }

    select {
     background: transparent;
     line-height: 1;
     border: 0;
     border-radius: 0;
     -webkit-appearance: none;
     font-size: 1.4vw;
     outline: none;
     }

    header {
      min-height: 30vw;
      overflow: hidden;

      background: {
        image: url('pattern-box-orange.jpg');
        repeat: no-repeat;
        size: contain;
      }

      div.layer-one {
        display: flex;
        justify-content: space-around;

        div.logo {
          background: {
            image: url('logo.png');
            repeat: no-repeat;
            size: contain;
          }
          padding: 7vw;
        }
        div.email {
          font-weight: bold;
          margin-top: 6vw;
          font-size: 1.15vw;
          color: darken($dark-grey, 7%);
        }
      }

      div.layer-two {
        display: flex;
        justify-content: space-around;
        margin-top: -6.2vw;

        div.circles-first {
          display: flex;
          flex-direction: column;
          // margin: -2vw 0 0 -61vw;

            div {
              color: darken($dark-grey, 5%);
              &.first {
                font-size: .7vw;
                align-self: center;
                margin-bottom: .1vw;
              }

              &.second {
                font-size: 1vw;
                align-self: center;
              }
            }
          }

          div.circles-second {
            display: flex;
            flex-direction: column;

            div {
              color: darken($dark-grey, 5%);
                &.first {
                  font-size: .7vw;
                  align-self: center;
                  margin-bottom: .1vw;
                }

                &.second {
                  font-size: 1vw;
                  align-self: center;
                }
               }
             }
           }


    div.layer-three {
      display: flex;
      width: 100%;
      justify-content: center;

      div.centered-box {
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        width: 65vw;
        height: 17.25vw;
        background-color: rgba(83, 28, 28, .4);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 1vw 0 0 0;
        align-items: center;
      }

      div.carousel-box-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 30vw;
        border-right: 1px solid #733331;

        div.time-range {
          align-self: center;
          width: 50%;
          margin-left: 1vw;
          align-items: center;

          span#last {
            margin: 0 .25vw 0 .5vw;
            font-size: 1.4vw;
          }

          #time-range-select {
            transition: all .2s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }

            p.range {
              align-self: center;
              font-weight: 600;
              display: flex;
              justify-content: space-around;
            }
          }

          p {
            margin-bottom: .9vw;

            &.provider {
              font-weight: 900;
              margin-bottom: -.5vw;
            }
            &.number {
              font-weight: 600;
              font-size: 5vw;
              color: #92c3c0;
              margin-bottom: .5vw;
            }
            &.subject {
              font-weight: 400;
              align-self: center;
              display: flex;
              justify-content: space-around;

              #select-subject {
                transition: all .2s ease-in-out;
                &:hover {
                  transform: scale(1.1);
                }
              }


            span {
              width: 100%;
              align-self: center;
            }
          }
        }
      }

        div.carousel-box-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 70vw;
          padding: 1vw;

          div.subject {
            margin: 1vw 0 1.5vw -25vw;
            font-size: 1.5vw;
          }

          div.message {
            display: flex;
            margin: 0 0 0 0;
            align-items: center;

            span {
              width: 7vw;
              margin: -2vw 1vw 0 0;

              img{
                display: block;
                width: 100%;
                height: auto;
                border-radius: 10%;
              }
            }

            p {
              margin: 0 1vw 1vw 0;
              max-width: 40vw;
              flex-wrap: nowrap;
              font-size: 2.5vw;
              text-align: center;
            }
          }

          div.after-message {
            align-self: flex-end;
            margin: .5vw 1vw 0 2vw;
            font-size: 1.2vw;
          }
        }
      }
    }

    p {
      align-self: center;
      font-size: 1vw;
      font-weight: 400;
    }

    div.column_charts {
      display: flex;
      justify-content: space-around;
      width: 90vw;
      height: 20vw;

      div.six-m-posts {
        display: flex;
        width: 25vw;
        margin-right: 2vw;
        margin-left: 4vw;
        height: 20vw;
        align-items: flex-end;
        border-bottom: 1px solid gray;
        justify-content: center;
          container-span-number {
            display: flex;
            flex-flow: wrap;
            flex-direction: column;
            span {
              font-size: 2vw;
              font-weight: 600;
              align-self: flex-end;
              margin: -1.5vw .5vw 0 0;
            }
            number {
              font-size: 9vw;
              margin-right: .5vw;
              color: $dark-grey;
              font-weight: 700;
              margin-bottom: 2vw;
            }
          }
          div#bar_posts {
            @include posts-grow-animation(5vw);
            width: 5vw;
            background: #8edacf;
            border-radius: 8%;
            animation-name: grow-posts;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-direction: normal;
          }
      }

      div.six-m-likes {
        display: flex;
        width: 25vw;
        margin-right: 2vw;
        height: 20vw;
        align-items: flex-end;
        border-bottom: 1px solid gray;
        justify-content: center;
          container-span-number {
            display: flex;
            flex-flow: wrap;
            flex-direction: column;
            span {
              font-size: 2vw;
              font-weight: 600;
              align-self: flex-end;
              margin: -1.5vw .5vw 0 0;
            }
            number {
              font-size: 9vw;
              margin-right: .5vw;
              color: $dark-grey;
              font-weight: 700;
              margin-bottom: 2vw;
            }
          }
          div#bar_likes {
            @include likes-grow-animation(15vw);
            width: 5vw;
            background: #8edacf;
            border-radius: 8%;
            animation-name: grow-likes;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-direction: normal;
          }
      }

      div.six-m-comments {
        display: flex;
        width: 25vw;
        margin-right: 2vw;
        height: 20vw;
        align-items: flex-end;
        border-bottom: 1px solid gray;
        justify-content: center;
          container-span-number {
            display: flex;
            flex-flow: wrap;
            flex-direction: column;
            span {
              font-size: 2vw;
              font-weight: 600;
              align-self: flex-end;
              margin: -1.5vw .5vw 0 0;
            }
            number {
              font-size: 9vw;
              margin-right: .5vw;
              color: $dark-grey;
              font-weight: 700;
              margin-bottom: 2vw;
            }
          }
          div#bar_comments {
            @include comments-grow-animation(7vw);
            width: 5vw;
            background: #8edacf;
            border-radius: 8%;
            animation-name: grow-comments;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-direction: normal;
          }
      }
    }

    blue-box {
      display: flex;
      // min-height: 2vw;
      margin-top: 7vw;
      box-shadow: $box-shadow-simple;

      background: {
        image: url('pattern-box-blue.jpg');
        repeat: repeat;
        size: contain;
      }

      male-percentage {
        display: flex;
        flex-flow: wrap;
        min-width: 50vw;
        height: 25vw;
        margin: 2.5vw 0 0 4vw;
        align-items: flex-end;

        background: {
          image: url('male-head.png');
          repeat: no-repeat;
          size: contain;
        }

        div#colum-male-gender-percentage {
          @include male-percentage-grow-animation(17vw);
          width: 5vw;
          margin: 0 0 2.90vw 18vw;
          background: #f1e775;
          border-radius: 10%;
          animation-name: grow-male-percentage;
          animation-duration: 2s;
          animation-fill-mode: forwards;
          animation-direction: normal;
        }

        span {
          font-size: 2vw;
          margin: 0 0 2.58vw -4.72vw;
        }

        number {
          font-size: 7vw;
          font-weight: 700;
          margin: 0 0 10.7vw 2vw;
          color: $dark-grey;
        }

        symbol {
          font-size: 7vw;
          font-weight: 700;
          margin: 0 0 10.7vw .8vw;
          color: $dark-grey;
        }
      }
    }


    female-percentage {
      display: flex;
      flex-flow: wrap;
      align-items: flex-end;
      min-width: 50vw;
      min-height: 30vw;
      margin: -25vw 4vw 0 0;

      background: {
        image: url('female-head.png');
        repeat: no-repeat;
        size: contain;
      }

      div#colum-female-gender-percentage {
        @include female-percentage-grow-animation(20vw);
        width: 5vw;
        margin: 0 0 7.90vw 28vw;
        background: #ed88a7;
        border-radius: 10%;
        animation-name: grow-female-percentage;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-direction: normal;
      }

      span {
        font-size: 1.4vw;
        margin: 0 0 7.8vw -4.8vw;
      }

      number {
        font-size: 7vw;
        font-weight: 700;
        margin: 7vw 0 0 -20vw;
        align-self: flex-start;
        color: $dark-grey;
      }

      symbol {
        font-size: 7vw;
        font-weight: 700;
        margin: 0 0 15vw .9vw;
        color: $dark-grey;
      }
  }

  green-box {
    display: flex;
    min-height: 4vw;
    margin-top: 5vw;
    opacity: .6;
    box-shadow: $box-shadow-simple;

    background: {
      image: url('pattern-box-green.jpg');
      repeat: repeat;
      size: contain;
    }
  }

  top-5-fans {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

    title-fan {
      font-size: 2vw;

      span {
        font-weight: 700;
      }
    }

    top-fan {
      img{
        @include profile-thumb-pic;
        margin-top: 1vw;
        width: 11vw;
        height: 11vw;
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    info {
      display: flex;
      flex-direction: column;
      align-items: center;

      name {
        padding-top: 2vw;
      }
    }

    top-5 {
      display: flex;
      width: 80vw;
      justify-content: space-around;
      align-items: center;
      margin-top: 4vw;

      container {
        display: flex;
        flex-direction: column;
        align-items: center;

        profile-pic {
          img {
            @include profile-thumb-pic;
            margin-top: 1vw;
            width: 9vw;
            height: 9vw;
            transition: all .2s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        p {
          margin-top: .5vw;
        }
      }
    }

  }

  fans-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;

    fan-name {
      margin: 2vw 6.90vw -2.5vw 0;
      align-self: flex-end;
      font-size: 1vw;
      font-weight: 300;
      width: 35vw;
      text-align: center;

      -webkit-transition: opacity 2.0s ease-in;
      -moz-transition: opacity 2.0s ease-in;
      -o-transition: opacity 2.0s ease-in;
      opacity: 1;
    }

    p#description {
      margin-top: .3vw;
      width: 30vw;
      font-weight: 100;
      text-align: center;
    }

    fans-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90vw;

      fans-super-list {
        margin: 3vw 0 3vw 5.5vw;
        width: 35vw;
        height: 40vw;
        padding: 1vw;
        overflow: scroll;

        loader {
          @include loader;
        }

        profile-pic {
          img {
            @include profile-thumb-pic;
            margin: 0;
            width: 3.5vw;
            height: 3.5vw;
            transition: all .2s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      arrow.fa {
        font-size: 4vw;
        margin-left: 7vw;
        color: $dark-grey;
      }

      group-circle {
        @include profile-thumb-pic;
        background: $dark-grey;
        width: 33vw;
        height: 33vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;


      container-group-fans {
        border-radius: 100%;
        height: 32vw;
        width: 32vw;
        align-self: center;
        display: flex;
        justify-content: center;

        profile-pic {
          display: flex;
          justify-content: center;
            display: flex;
            justify-content: center;
            align-items: center;
          img {
            @include profile-thumb-pic;
            width: 65%;
            height: 65%;
            transition: all .2s ease-in-out;
          }
      }
    }

    empty-group-fan-container {
      display: flex;
      justify-content: space-around;
      margin: 9vw 0 0 1.1vw;

        p.fa-user {
          font-size: 8vw;
          color: $light-grey;
        }

        p.fa-plus {
          font-size: 4vw;
          color: $ultra-dark-grey;
        }

        p#circle-one {
          margin-top: -6vw;
          margin-left: 2vw;
        }

        p#circle-two {
          margin-top: 6vw;
          margin-right: 2vw;
        }
      }

      div.fa-circle#one {
        text-align: center;
        font-size: 3vw;
        opacity: .2;
        color: white;

      }

      div.fa-circle#two {
        text-align: center;
        font-size: 2vw;
        opacity: .2;
        color: white;

      }
      div.fa-circle#three {
        text-align: center;
        font-size: 1vw;
        opacity: .2;
        color: white;
        margin-bottom: .5vw;
      }

      div.fa-circle#three-b {
        text-align: center;
        font-size: 1vw;
        opacity: .2;
        color: white;
        margin-top: .5vw;

      }
    }
  }

   p#active-users {
     align-self: flex-end;
     margin: -2vw 17.3vw 2vw 0;
   }

   .fa-arrow-down {
     font-size: 3vw;
     margin-left: -54vw;
     margin-top: -5vw;
     color: $light-grey;

   }
  }

  head-fan-posts {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 3vw;
    margin-top: 1vw;
    div#total-posts {
      font-size: 1vw;
    }
  }

  center-posts {

    display-posts {
      display: flex;
      justify-content: space-around;
      flex-flow: wrap;
      width: 90vw;

      loader {
        @include loader;
      }

      no-post {
        width: 100vw;
        font-size: 3vw;
        opacity: .5;
        margin: 2vw 0 4vw 0;
        text-align: center;
        font-weight: 600;
      }


      post {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 25vw;
        height: 18vw;
        margin-bottom: 3vw;
        padding: 2vw;
        border-radius: 5%;
        box-shadow: $box-shadow;
        transition: all .2s ease-in-out;
        position: relative;
        overflow: hidden;

        background-post {
          z-index: -1;
          background-size: cover;
          background-repeat: no-repeat;
          min-width: 100%;
          min-height: 30%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: .7;
        }




        &:hover {
          -ms-transform: scale(1.02, 1.02);
          -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
        }


      story {
        font-size: 1.5vw;
        font-weight: 600;
        color: darken($light-grey, 20%);
      }

      message {
        align-self: flex-end;
        font-size: 1.2vw;
        font-weight: 400;
      }

      gender {
        display: flex;
        justify-content: space-between;
        font-size: 1vw;
      }

        picture {
          align-self: center;
          width: 6vw;
          overflow: hidden;
          border-radius: 3%;

          img {
           box-shadow: $box-shadow;
           overflow: hidden;
           width:100%;

         }
        }
      }

    }
  }

  footer {
    width: 100vw;
    background: $dark-grey;
    height: 7vw;
    display: flex;
    justify-content: center;
    overflow: hidden;

    footer-logo {
      padding: 5vw;
      align-content: center;
        background: {
          image: url('logo-b&w.png');
          repeat: no-repeat;
          size: contain;
        }
    }
  }



// ===================
// LOADER
// ===================

  .wrapper {
  	padding-left: 0em;
  	padding-right: 0em;
  	margin: auto;
  	display: block;
  	width: 70px;
  }

  .cssload-loader {
  	width: 17px;
  	height: 17px;
  	border-radius: 50%;
  	margin: 1em;
  	display: inline-block;
  	position: relative;
  	vertical-align: middle;
  }

  .cssload-loader {
  	width: 17px;
  	height: 17px;
  	border-radius: 50%;
  	margin: 1em;
  	display: inline-block;
  	position: relative;
  	vertical-align: middle;
  }
  .cssload-loader,
  .cssload-loader:before,
  .cssload-loader:after {
  	animation: 1.15s infinite ease-in-out;
  		-o-animation: 1.15s infinite ease-in-out;
  		-ms-animation: 1.15s infinite ease-in-out;
  		-webkit-animation: 1.15s infinite ease-in-out;
  		-moz-animation: 1.15s infinite ease-in-out;
  }
  .cssload-loader:before,
  .cssload-loader:after {
  	width: 100%;
  	height: 100%;
  	border-radius: 50%;
  	position: absolute;
  	top: 0;
  	left: 0;
  }

  .cssload-loader:before,
  .cssload-loader:after {
  		content: "";
  }

  .cssload-loader:before,
  .cssload-loader:after {
  		content: "";
  		background-color: $dark-grey;
  		transform: scale(0);
  		-o-transform: scale(0);
  		-ms-transform: scale(0);
  		-webkit-transform: scale(0);
  		-moz-transform: scale(0);
  		animation: cssload-animation 1.73s infinite ease-in-out;
  		-o-animation: cssload-animation 1.73s infinite ease-in-out;
  		-ms-animation: cssload-animation 1.73s infinite ease-in-out;
  		-webkit-animation: cssload-animation 1.73s infinite ease-in-out;
  		-moz-animation: cssload-animation 1.73s infinite ease-in-out;
  }
  .cssload-loader:after { animation-delay: 0.86s;
  		-o-animation-delay: 0.86s;
  		-ms-animation-delay: 0.86s;
  		-webkit-animation-delay: 0.86s;
  		-moz-animation-delay: 0.86s; }



  @keyframes cssload-animation {
  	0%	 { transform: translateX(-100%) scale(0); }
  	50%	{ transform: translateX(0%)		scale(1); }
  	100% { transform: translateX(100%)	scale(0); }
  }

  @-o-keyframes cssload-animation {
  	0%	 { -o-transform: translateX(-100%) scale(0); }
  	50%	{ -o-transform: translateX(0%)		scale(1); }
  	100% { -o-transform: translateX(100%)	scale(0); }
  }

  @-ms-keyframes cssload-animation {
  	0%	 { -ms-transform: translateX(-100%) scale(0); }
  	50%	{ -ms-transform: translateX(0%)		scale(1); }
  	100% { -ms-transform: translateX(100%)	scale(0); }
  }

  @-webkit-keyframes cssload-animation {
  	0%	 { -webkit-transform: translateX(-100%) scale(0); }
  	50%	{ -webkit-transform: translateX(0%)		scale(1); }
  	100% { -webkit-transform: translateX(100%)	scale(0); }
  }

  @-moz-keyframes cssload-animation {
  	0%	 { -moz-transform: translateX(-100%) scale(0); }
  	50%	{ -moz-transform: translateX(0%)		scale(1); }
  	100% { -moz-transform: translateX(100%)	scale(0); }
  }
