<form id="auth-form" class="new_user" accept-charset="UTF-8" action="/users/sign_in" method="post">
  <span id="welcome">WELCOME BACK</span>
    <input autofocus="autofocus" placeholder="email" spellcheck="false" type="email" value="" name="user[email]" required="required" id="user_email">
    <input autocomplete="off" placeholder="password" type="password" name="user[password]" id="user_password" required="required">

    <p id="forgot-password">
        <a href="https://bpop.herokuapp.com/users/sign_in#/recover-password">forgot password</a>
    </p>

    <button name="commit" type="submit">
      <span>LOGIN</span>
    </button>
</form>

<p id="info-sm">
  <span>
    <a href="https://bpop.herokuapp.com/users/sign_in#/signup" ng-click="resetFlash()">signup</a>
  </span> for a new account
</p>
