<span id="welcome">Forgot you password?</span>
<form id="auth-form" class="new_user" accept-charset="UTF-8" action="/users/password" method="post">
    <input autofocus="autofocus" placeholder="email" spellcheck="false" type="email" value="" name="user[email]" required="required" id="user_email">

    <button name="commit" type="submit">
      <span>Send email</span>
    </button>

</form>

<p id="info-sm">
  <span style="color:#4edcd2; margin-left:5vw" class="fa fa-arrow-left"></span><span>
    <a style="color:#5a5a5a" href="http://localhost:3000/users/sign_in#/">back</a>
  </span>
</p>
