 @mixin loader {
   .wrapper {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100%;

     .cssload-loader {
       align-self: center;
     }
   }
 }


  @mixin loginMains {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50vw;
    min-height: 700px;
    overflow: hidden;
  }

  @mixin title-xl {
    font: {
      size: 35px;
      weight: 600;
    }
    color: $dark-grey;
  }


  @mixin title-md {
    font: {
      size: 2vw;
      weight: 300;
    }
    color: $dark-grey;
  }

  @mixin title-sm {
    font: {
      size: 20px;
      weight: 200;
    }
    color: $dark-grey;
  }


  @mixin p-sm {
    font: {
      size: 0.9vw;
      weight: 200;
    }
    color: $dark-grey;
  }

  @mixin p-md {
    font: {
      size: 1.2vw;
      weight: 300;
    }
    color: $dark-grey;
  }

  @mixin placeholder {
      @each $placeholder
          in "::-webkit-input-placeholder",
             ":-moz-placeholder",
             "::-moz-placeholder",
             ":-ms-input-placeholder" {
          &#{$placeholder} {
              @content;
          }
      }
  }


  @mixin input {
    width: 30vw;
    min-width: 250px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(86, 55, 67, 0.2);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 17px;
    padding-top: 3px;
    padding-left: 12px;
    vertical-align: text-bottom;
    color: $dark-grey;

    @include placeholder {
      font-size: 12px;
      padding-top: 3px;
      padding-left: 2px;
    };
  }


  @mixin button {
      width: 160px;
      height: 50px;
      background-color: #4edcd2;
      border-radius: 6px;
      box-shadow: $box-shadow;
      color: white;
    }

  @mixin button-round($color) {
    width: 6.2vw;
    height: 5vw;
    padding-top: 1%;
    background-color: $color;
    border-radius: 40px;
    box-shadow: $box-shadow;
    text-align: center;
  }

  @mixin profile-thumb-pic {
    border-radius: 100%;
    box-shadow: $box-shadow;
  }


  // ================================
  // animations
  // ================================

  @mixin posts-grow-animation($finalHeight) {
    @keyframes grow-posts {
      from {height: 0;}
      to {height: $finalHeight;}
    }
  }

    @mixin likes-grow-animation($finalHeight) {
      @keyframes grow-likes {
        from {height: 0;}
        to {height: $finalHeight;}
      }
    }

    @mixin comments-grow-animation($finalHeight) {
      @keyframes grow-comments {
        from {height: 0;}
        to {height: $finalHeight;}
      }
    }

    @mixin male-percentage-grow-animation($finalHeight) {
      @keyframes grow-male-percentage {
        from {height: 0;}
        to {height: $finalHeight;}
      }
    }

    @mixin female-percentage-grow-animation($finalHeight) {
      @keyframes grow-female-percentage {
        from {height: 0;}
        to {height: $finalHeight;}
      }
    }
