// =================================
// color-palette
// =================================
$pink: #f86e70;
$lightblue: #4edcd2;
$green: #c4dc4e;
$ultra-dark-grey: #343434;
$dark-grey: #5a5a5a;
$light-grey: #a4a5a8;





$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
